*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    font-family: "Saira",sans-serif;
}   
header{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

header span a{
    text-decoration: none;
    font-size: 12px;
    color: white;
}

#head_contain{
    background-color: black;
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    
}
.menu{
    
    position: relative;
    
}
.menu a{
    padding: 5px;
    text-decoration: none;
    color: #f2de00;
}


.banner{
    width: 100%;
    background-image: url(img/home-1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(50, 50, 50, 0.7);;
}

.menu_banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Maintain space between logo and menu */
    align-items: center;
    width: 100%;
    height: auto;
    
}
.logo{
    margin-right: 20px; /* Adjust margin as needed */
}
#banner{
    position: relative;
    align-items: center;
    justify-content: center;
   
}
.banner #menu{
    display: flex;
    justify-content: center; /* Center the menu items */
    width: 100%;
    height: 166px;
    position: relative;
    margin-top: 100px;
}
#menu nav a{
    color: white;
    font-weight: 800;
    padding: 10px;
    text-decoration: none;
    font-family: "Saira",sans-serif;
}
#menu_button{
    display: none;

}
#banner{
    height: auto;
    width: 100%;
}
#banner h1{
    color: white;
    width: 800px;
    text-align: center;
    margin-top: 5%;
    margin-left:25%;
    
}
#banner button{
    background-color: #f2de00;
    border-radius:10px;
    color: white;
    font-size: 12px;
    padding: 10px;
    width: 170px;
    margin-top: 5%;
    margin-left:40%;
    text-align:center;
    position: relative;
    align-items: center;
    cursor: pointer;
}


main{
    width: 100%;
    /*height: 800px;*/
     position: relative;
    
}
#mensaje1{
    margin:auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: large;
    width: 100%;
    height: 60px;
    text-align: center;
    
}

#documentos{
    width: 100%;
    height: 517px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#documentos #imagen{
    width: 50%;
    height: 100%;
    text-align: center;
}
#imagen img{
    height: 100%;
    width: auto;
    margin: 0 auto;
}
#secciones{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
#documentos section{
    text-align:justify;
    width: 100%;
    height: 100%;
    /*margin: 10px 10px 10px 10px;*/
    padding: 10px;
    
}
#documentos h4{
    font-weight: 800;
    position: relative;
    border-bottom: 4px;
    
}

#documentos h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 40%;
    height: 2px;
    background-color: #f2de00;
    border-radius: 2px;
        
}
#documentos section p{
    margin: 5px 0px 0px 0px;
}
#centro{
    background-image: url('img/home-2.jpg');
    background-size: cover;
    background-position: center;
    height:auto;
    width: 100%;
    margin-top: 0px;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    
}
#centro span{
    color:white;
    margin:auto;
    width:80%;
    height: autox;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    
}
#botones{
    position:relative;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    width: auto;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align:center;
    
    
}
#botones button{
    background-color: #f2de00;
    border-radius:10px;
    color: white;
    font-size: 12px;
    padding: 10px;
    width: 170px;
    margin-left: 10px;
    margin-top: 75px;
    text-align:center;
    position: relative;
    align-items: center;
    cursor: pointer;
}
.documentos_sistema{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#documentos_sistema{
    
    margin-top: 0px;
    height: 361px;
    width: 50%;
    padding: 15px;
}
#documentos_sistema h5{
    font-weight: 800;
    font-size: 24px;
    position: relative;
    border-bottom: 4px;
    margin: 10px 110px 10px 110px;
    
}
#documentos_sistema h5::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 25%;
    height: 2px;
    background-color: #f2de00;
    border-radius: 2px;
}
#documentos_sistema h6{
    margin: 5px 5px 5px 110px;
    font-weight: 600;
    font-size: 20px;
}
#documentos_sistema span{
    margin: 10px 10px 10px 110px;
}
#bombero_cansado img{
    height: 100%;
}


footer{
    width: 100%;
    height: 299px;
    margin-top: 2px;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
}
footer span{
    color: white;
    
}
#contacto{
    width:33.33%;
    margin: 10px 50px 50px 75px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#noticias{
    width: 33.33%;
    margin: 10px 50px 50px 75px;
    position: relative;
    display: flex;
    
    flex-direction: column;
}
#siguenos{
    width: 33.33%;
    margin: 10px 50px 50px 75px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#siguenos a{
    color: white;
    padding: 5px;
    font-size: 20px;
}
.redes_sociales {
    padding: 20px;
}
#derechos{
    position:absolute;
    bottom:0;
    margin-left:30%;;
    transform:translateX(-50);
    width: auto;
    
}
/* Estilos generales para móviles */
@media (max-width: 767px) {
    header {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centrado horizontal */
        float: right;
        
    }

    #head_contain {
        padding: 15px; /* Espaciado adicional */
    }
    

    .banner #menu {
        flex-direction: column; /* Menú en columna */
    }

    #banner h1 {
        font-size: 24px; /* Tamaño de fuente más pequeño */
        margin: 10% 5%; /* Margen más pequeño */
        text-align: left;
        align-items: flex-start;

    }

    #banner .btn_acceso {
        width: 80%; /* Botón más estrecho */
        margin: 1% auto; /* Centrado automático */
    }

    #documentos {
        flex-direction: column; /* Cambia a columna */
    }

    #documentos #imagen{
        width: auto;
        height: auto;
        

    }
main #mensaje1{
    margin-top: 25px;
    margin-bottom: 25px;
}
    #documentos,
    #secciones {
        width: auto; /* Elementos ocupan el 100% */
        height: auto; /* Altura automática */
    }

    #botones {
        flex-direction: column; /* Botones en columna */
        align-items: center; /* Centrado horizontal */
        margin-left: 0; /* Eliminar margen izquierdo */
    }

    #botones button {
        width: 90%; /* Botón más estrecho */
        margin: 10px 0; /* Margen vertical */
    }
    #documentos_sistema h5, h6, span {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        text-align: left;
       
        width: 100%;
        margin: 0 5px 0 10px;
    }
    #documentos_sistema span{
        
        width: 100%;
        height: auto;
        text-align: justify;
        align-items: center;
        
    }
    #bombero_cansado{
        
        width: 50%;
    }

    footer {
        flex-direction: column; /* Cambia a columna */
        align-items: center; /* Centrado horizontal */
    }

    #contacto, #noticias, #siguenos {
        width: 100%; /* Elementos ocupan el 100% */
        margin: 5px 0; /* Margen vertical */
        align-items: center; /* Centrado horizontal */
    }

    #derechos {
        margin: 20px 0; /* Margen vertical */
        text-align: center; /* Centrado del texto */
    }
    #siguenos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .redes_sociales{
        width: 100%;
        padding: 25px;
        margin: 25px;
        font-size: 20px;
    }
}